<div class="sample-wrapper">
    <select class="form-control centralizar" (change)="selecionarEvento($event.target.value)">
        <option>Default select</option>
        <option *ngFor="let evento of eventos" value="{{evento.Id}}">{{evento.Nome}}</option>
    </select>
    <section class="sample-content">
        <igx-calendar [locale]="locale"  [viewDate]="date" (onSelection)="selection($event)" [(ngModel)]="date"></igx-calendar>
    </section>
</div>