<div class="content-wrapper">
    <div class="page-header">
        <div class="page-title">
            <label>Pesquisar:<input type="text" class="form-control form-control-sm" placeholder="Pesquisar"
                    [(ngModel)]="searchVal" (ngModelChange)='checkSearchVal()'></label>
        </div>
        <nav aria-label="breadcrumb">
            <div class="row">

                <div id="filtro">
                    <select class="form-control" (change)="selecionaMes($event.target.value)" style="margin: 18px 6px">
                        <option>Selecione um mês</option>
                        <option *ngFor="let mes of meses" value="{{mes.valor}}">{{mes.nome}}</option>
                    </select>
                </div>

                <div class="tr" style="margin-top: 15px; margin-left: 12px;">
                    <div class="ui-inputgroup" style="margin-top: 3px;">
                        <input type="text" class="form-control" id="ano" name="ano" pInputText
                            placeholder="Filtre por ano" [(ngModel)]="ano" ano="ngModel" maxlength="4">
                        <button pButton type="submit" icon="pi pi-check" (click)="selecionaAno()"
                            class="ui-button-success"></button>
                    </div>

                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-dark  card-img-holder text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-1">Atividades Atrasadas <div class="graficoAtrasadas">
                            <canvas #atrasadasCanvas></canvas>
                        </div> <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <!-- <h2 class="mb-5">Total: {{statusAtividades.total}}</h2> -->
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-dark  card-img-holder text-white">
                <div class="card-body">

                    <h4 class="font-weight-normal mb-3">Atividades Concluídas <div class="graficoFeitas">
                            <canvas #feitasCanvas></canvas>
                        </div><i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <!-- <h2 class="mb-5">Total: {{statusAtividades.total}}</h2> -->
                    <h6 class="card-text">Decreased by 10%</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-dark    card-img-holder text-white">
                <div class="card-body">
                    <h4 class="font-weight-normal mb-3">
                        Atividades Pendentes
                        <div class="graficoPendentes">
                            <canvas #pendentesCanvas></canvas>
                        </div><i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <!-- <h2 class="mb-5">Total: {{statusAtividades.total}}</h2> -->

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card mb-3" *ngFor="let evento of servicoAtividades">
                <div class="card-body">
                    <h4 class="card-title">{{evento.nome}}</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Tarefa</th>
                                    <th>Status</th>
                                    <th>Situação</th>
                                    <th>Concluída em</th>
                                    <th>Início</th>
                                    <th>Prazo Final</th>
                                    <th>Anexar Aquivo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let atividade of evento.atividades">
                                    <td *ngIf="!searchVal">{{atividade.tarefa}}</td>
                                    <div *ngIf="searchVal">
                                        <td *ngFor="let taref of tarefas">{{taref.tarefa}}</td>
                                    </div>
                                    <td>
                                        <label class="badge"
                                            [ngClass]="{'badge-gradient-success':atividade.status=='Concluida','badge-gradient-danger':atividade.status=='Atrasada','badge-gradient-warning': atividade.status=='Pendente'}">{{atividade.status}}</label>
                                    </td>
                                    <td>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" [value]="atividade.Id"
                                                [checked]="atividade.concluida" [disabled]="atividade.concluida"
                                                (click)="abrirModal(template)" id="{{atividade.Id}}">
                                            <label class="custom-control-label" for="{{atividade.Id}}"></label>
                                        </div>
                                    </td>
                                    <td *ngIf="atividade.ConcluidoEm">{{ formataData(atividade.ConcluidoEm) }}</td>
                                    <td *ngIf="!atividade.ConcluidoEm">-</td>
                                    <td>{{ formataData(atividade.DataInicio) }}</td>
                                    <td>{{ formataData(atividade.DataFim) }}</td>
                                    <td>
                                        <input type="file" (change)="enviarArquivo($event)" />
                                        <!-- <fa-icon [icon]="anexo">
                                        </fa-icon> -->
                                    </td>

                                    <ng-template #template>
                                        <div class="modal-body">
                                            Deseja alterar o status da atividade {{atividade.tarefa }}
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" aria-label="Close"
                                                (click)="fecharModal(atividade)">Fechar</button>
                                            <button class="btn btn-primary" aria-label="Close"
                                                (click)="alterarStatus(atividade)">Confirmar</button>
                                        </div>
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>