<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <img src="../assets/imgs/fb-logo.png" style="width: 115px">
      <!-- <fa-icon (click)="colapse()" [icon]="barras"></fa-icon> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>

  


      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Prof. Henrique
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Ação</a>
              <a class="dropdown-item" href="#">Outra ação</a>
              <a class="dropdown-item" href="#">Algo mais aqui</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
      <!-- <div class="sidebar-header">
        <h3>Calendário Pedagógico</h3>
        <strong (click)="colapse()">
          <fa-icon [icon]="barras"></fa-icon>
        </strong>
      </div> -->

      <ul class="list-unstyled components">
        <li>
          <a [routerLink]="['/calendario/inicio']">
            <fa-icon [icon]="faHome"></fa-icon>&nbsp;&nbsp;&nbsp;
            Início
          </a>
        </li>
        <li>
          <a [routerLink]="['/calendario/visualizar']">
            <fa-icon [icon]="cracha"></fa-icon>&nbsp;&nbsp;&nbsp;
            Visualização
          </a>
        </li>
        <li>
          <a [routerLink]="['/calendario/atividades']">
            <fa-icon [icon]="lista"></fa-icon>&nbsp;&nbsp;&nbsp;
            Atividades
          </a>

        </li>
        <li>
          <a [routerLink]="['/calendario/relatorio']">
            <fa-icon [icon]="livros"></fa-icon>&nbsp;&nbsp;&nbsp;
            Relatório
          </a>
        </li>
        <li>
          <a [routerLink]="['/calendario/minha-equipe']">
            <fa-icon [icon]="equipe"></fa-icon>&nbsp;&nbsp;&nbsp;
            Equipe
          </a>
        </li>
        <li>
          <a [routerLink]="['/calendario/comunicacao']">
            <fa-icon [icon]="comunicacao"></fa-icon>&nbsp;&nbsp;&nbsp;
            Comunicação
          </a>
        </li>

        <li>
          <a [routerLink]="['/calendario/configuracao']">
            <fa-icon [icon]="config"></fa-icon>&nbsp;&nbsp;&nbsp;
            Configuração
          </a>
        </li>
      </ul>

    </nav>

    <div class="main-panel">

      <router-outlet></router-outlet>

    </div>
  </div>
</body>

</html>